<style>
  .image {
    transition: transform 0.3s;
  }

  .image:hover {
    transform: scale(1.02);
  }
</style>

<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
  @for (product of products; track $index) {
    <li class="flex flex-col">
      <img [src]="product.imageUrl" [alt]="product.name | translate" class="image" />
      <span>{{ product.name | translate }}</span>
      <span>{{ product.price }} </span>
      <button
        class="py-3 bg-[#10fb30] border border-black hover:outline hover:outline hover:outline-black"
      >
        {{ 'productElement.add' | translate }}
      </button>
    </li>
  }
</ul>
