<style>
  .image {
    transition: transform 0.3s;
    cursor: pointer;
  }

  .image:hover {
    transform: scale(1.01);
  }
</style>

<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
  @for (product of products; track $index) {
    <li class="flex flex-col gap-2">
      <a [routerLink]="'/product/' + product.id">
        <img [src]="product.imageUrl" [alt]="product.name | translate" class="image" />
      </a>
      <span class="font-semibold"> {{ product.name }} - {{ product.type | translate }} </span>
      <span class="uppercase text-[0.75rem] font-medium">{{ product.color | translate }} </span>
      <span>{{ product.price }} </span>
      <div class="flex flex-row overflow-hidden gap-2">
        @for (size of product.availabledSize; track $index) {
          <a
            class="border border-black text-xs px-2 py-1 w-content w-fit cursor-pointer hover:bg-black hover:text-white"
            [routerLink]="'/product/' + product.id"
          >
            {{ size }}
          </a>
        }
      </div>
      <button
        class="py-3 bg-[#FF8300] border border-black hover:outline hover:outline-black cursor-pointer uppercase font-medium"
      >
        {{ 'productElement.add' | translate }}
      </button>
    </li>
  }
  @if (hasMoreProducts()) {
    <button
      (click)="loadMore()"
      class="w-full py-3 bg-white border-2 border-[#FF8300] hover:outline hover:outline-[#FF8300] text-[#FF8300] cursor-pointer uppercase font-medium col-span-full md:w-1/3 lg:1/3 justify-self-center mt-16"
    >
      {{ 'shopPage.loadMore' | translate }}
    </button>
  } @else {
    <span class="col-span-full text-center mt-16 uppercase">{{
      'shopPage.noMoreProducts' | translate
    }}</span>
  }
</ul>
