<style>
  .custom-input.error {
    border-color: #c11d09;
  }
  .custom-input::placeholder {
    opacity: 0.5;
  }
</style>

<label [for]="inputId" class="block text-xs uppercase font-bold text-gray-700 mb-2"
  >{{ label }} {{ required ? '*' : '' }}</label
>
<div class="relative">
  @if (hasError) {
    <p class="text-[0.625rem] text-red-700 absolute bg-white px-2 top-[-0.5rem] left-[8px]">
      {{ errorMessage }}
    </p>
  }
  <input
    [id]="inputId"
    [type]="type"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="disabled"
    [class]="'custom-input ' + (hasError ? 'error' : '')"
    (input)="onInput($event)"
    (blur)="onBlur()"
    class="mt-4 block w-full border border-black p-3 focus:outline-none focus:ring-2 focus:ring-[#47fc00] focus:border-transparent"
  />
</div>
