<div class="border border-[#e2e8f0] rounded-lg shadow-xs p-8 max-h-[500px] flex flex-col">
  <h3 class="text-lg font-bold mb-4">{{ 'admin.dashboardPage.order.recentOrders' | translate }}</h3>
  <p-table [value]="orders$" class="flex-1 overflow-y-auto">
    <ng-template #header>
      <tr>
        <th>{{ 'admin.dashboardPage.customers.orderId' | translate }}</th>
        <th>{{ 'admin.dashboardPage.customers.email' | translate }}</th>
        <th>{{ 'admin.dashboardPage.order.orderAmount' | translate }}</th>
        <th>{{ 'admin.dashboardPage.order.quantity' | translate }}</th>
        <th>{{ 'admin.dashboardPage.order.date' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template #body let-order>
      <tr cl>
        <td class="p-4 text-blue-500">
          {{ order.id }}
        </td>
        <td>
          {{ order.user.email }}
        </td>
        <td>{{ order.amount }} €</td>
        <td>
          {{ order.items.length }}
        </td>
        <td>
          {{ order.date | date: 'shortDate' }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
