<style>
  ::ng-deep .p-toast-message {
    background-color: #ffffff !important;
    color: #000000 !important;
    border-radius: 0 !important;
    border: 2px solid #000000 !important;
  }

  ::ng-deep .p-toast-message-content {
    gap: 0 !important;
  }

  ::ng-deep .p-toast-close-icon {
    color: #000000 !important;
  }

  ::ng-deep .p-toast-close-button {
    background: #ffffff !important;
    border-radius: 0 !important;
    border: 1px solid #000000 !important;
  }

  ::ng-deep .p-toast-close-button:hover {
    background: #47fc00 !important;
    border-radius: 0;
    outline: 2px solid #000000 !important;
  }
</style>

<div
  class="flex flex-col gap-12 md:flex-row md:gap-16 lg:flex-row lg:gap-16 sm:flex-col md:mx-30 lg:mx-30"
>
  <p-toast>
    <ng-template let-message pTemplate="message" class="w-full">
      <div class="flex flex-col gap-4 justify-end items-end pl-4">
        <div class="flex-1 w-full">{{ message.detail | translate }}</div>
        <a
          [routerLink]="'/auth/login'"
          type="button"
          class="border bg-[#47fc00] w-auto text-center text-sm py-2 px-3 hover:outline hover:outline-black cursor-pointer uppercase font-medium"
        >
          {{ 'productElement.toast.goToLogin' | translate }}
        </a>
      </div>
    </ng-template>
  </p-toast>

  <div>
    <img
      [src]="getProductDetails()?.imageUrl"
      [alt]="getProductDetails()?.name"
      class="h-138 w-full object-cover"
    />
  </div>
  <!-- Product Details -->
  <div class="flex flex-col gap-6 flex-1">
    <div class="flex flex-col gap-2">
      <p class="uppercase text-2xl font-[900]">
        {{ getProductDetails()?.name }}
      </p>
      <div class="flex flex-row gap-2">
        @if (getProductDetails()?.subName) {
          <p class="font-[300]">{{ getProductDetails()?.subName }}</p>
          <span class="font-[300]">-</span>
        }
        <p class="font-[300] capitalize">{{ getProductDetails()?.type | translate }}</p>
        <span class="font-[300]">|</span>
        <p class="font-[300] capitalize">{{ getProductDetails()?.color | translate }}</p>
      </div>
      <p class="text-xl">{{ getProductDetails()?.price }} €</p>
    </div>
    <!-- Size Selection -->
    <div class="flex flex-col gap-2 uppercase font-medium md:w-[18rem] lg:w-[18rem] w-full">
      <label for="size-select" class="w-full">{{ 'productDetails.size' | translate }} :</label>
      <select
        id="size-select"
        class="border border-black px-2 py-1 cursor-pointer uppercase font-medium w-full"
      >
        <option value="" disabled selected>
          {{ 'productDetails.selectSize' | translate }}
        </option>
        @for (size of getProductDetails()?.availabledSize; track $index) {
          <option [value]="size">
            {{ size }}
          </option>
        }
      </select>
    </div>
    <!-- Add to Cart Button -->
    <div class="flex flex-col">
      <button
        class="py-3 bg-[#47fc00] border border-black hover:outline hover:outline-black cursor-pointer uppercase font-medium md:w-[18rem] lg:w-[18rem] w-full"
        (click)="addToCart()"
      >
        {{ 'productElement.add' | translate }}
      </button>
    </div>

    <!-- Description and Return Policy -->
    <div class="flex flex-col gap-4 md:mt-16 lg:mt-16 mt-8">
      <div>
        <button
          class="text-left w-full border-b py-2 flex justify-between items-center"
          (click)="setIsDescriptionOpen()"
          aria-expanded="{{ isDescriptionOpen }}"
          aria-controls="product-description"
        >
          <h2 class="text-xl font-[900] mb-2">
            {{ 'productDetails.description' | translate }}
          </h2>
          <ng-icon
            [name]="isDescriptionOpen ? 'hugeArrowDown01' : 'hugeArrowRight01'"
            class="inline-block"
          ></ng-icon>
        </button>
        @if (isDescriptionOpen) {
          <div class="mb-8">
            <h3 class="text-lg font-[900] mt-4 mb-2">
              {{ 'productDetails.origin' | translate }}
            </h3>
            <p class="text-justify font-normal">{{ getProductDetails()?.description?.origin }}</p>
            <h3 class="text-lg font-[900] mt-4 mb-2">
              {{ 'productDetails.compositionAndCare' | translate }}
            </h3>
            <p class="text-justify font-normal">
              {{ getProductDetails()?.description?.composition }}
            </p>
            <p class="text-justify font-normal">{{ getProductDetails()?.description?.care }}</p>
            <h3 class="text-lg font-[900] mt-4 mb-2">
              {{ 'productDetails.fit' | translate }}
            </h3>
            <p class="text-justify font-normal">{{ getProductDetails()?.description?.fit }}</p>
            <h3 class="text-lg font-[900] mt-4 mb-2">
              {{ 'productDetails.productSize' | translate }}
            </h3>
            <p class="text-justify font-normal">
              {{ getProductDetails()?.description?.productSize }}
            </p>
            <h3 class="text-lg font-[900] mt-4 mb-2">
              {{ 'productDetails.modelHeight' | translate }}
            </h3>
            <p class="text-justify font-normal">
              {{ getProductDetails()?.description?.modelHeight }}
            </p>
          </div>
        }
      </div>
      <div>
        <button
          class="text-left w-full border-b py-2 flex justify-between items-center"
          (click)="setIsDeliveryAndReturnsOpen()"
          aria-expanded="{{ isDeliveryAndReturnsOpen }}"
          aria-controls="product-description"
        >
          <h2 class="text-xl font-[900] mb-2">
            {{ 'productDetails.returnPolicy.title' | translate }}
          </h2>
          <ng-icon
            [name]="isDeliveryAndReturnsOpen ? 'hugeArrowDown01' : 'hugeArrowRight01'"
            class="inline-block"
          ></ng-icon>
        </button>
        @if (isDeliveryAndReturnsOpen) {
          <div class="mt-4">
            <p class="text-justify font-normal">
              {{ 'productDetails.returnPolicy.content' | translate }}
            </p>
          </div>
        }
      </div>
    </div>
  </div>
</div>
