@use 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Libertinus+Mono&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@layer base {
  :root {
    --font-roboto: 'Helvetica Neue', system-ui, -apple-system, sans-serif;
  }

  html {
    font-family: var(--font-roboto);
  }
  ::selection {
    @apply text-white; // couleur du texte
    background-color: #47fc00; // couleur du surlignage
  }

  h1 {
    @apply text-3xl font-bold mb-6 text-gray-900 leading-tight;
  }

  h2 {
    @apply text-2xl font-semibold mb-4 text-gray-800 leading-tight;
  }

  h3 {
    @apply text-xl font-medium mb-3 text-gray-800 leading-snug;
  }

  h4 {
    @apply text-lg font-medium mb-2 text-gray-700 leading-snug;
  }

  h5 {
    @apply text-base font-medium mb-2 text-gray-700 leading-normal;
  }

  h6 {
    @apply text-sm font-medium mb-1 text-gray-600 uppercase tracking-wide;
  }

  span,
  a,
  p,
  button {
    @apply font-medium;
    @apply focus-visible:outline focus-visible:outline-[#47fc00];
  }

  select {
    @apply focus-visible:outline focus-visible:outline-[#47fc00];
  }

  input {
    @apply leading-relaxed font-normal;
  }
}
